html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

ul, #myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}


.caret-down::before {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
    color: #ffffff !important;
    background-color: #1F2838 !important;
    border-color: #494F57 !important;
}

span {
    background-color: #34568B;
    width: 400px;
    height: 40px;
    display: inline-block;
    color: white;
    margin-top: 10px;
    border: 2px solid black;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    text-align: left;
    padding-top: 5px;
    padding-left: 15px;
}

.test {
    padding-bottom:2px !important;
}
